<h1> All Entries </h1>

<% for entry in @entries %>

<h2><%= entry["place_id"] %></h2>

<h3><%= entry["title"] %></h3>

<h4><%= entry["posted_on"] %></h4>

<h5><%= entry["description"] %></h5>

<% end %>