<!-- Place details page -->

<h1><%= @place["name"] %></h1>

<h2>Title</h2>

<h3>posted_on Date</h3>

<h4>description</h4>

<p>
  <a href="/entries/new">New Post</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>